@model ProjectMangerAppReviso.Models.Working_hours

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Working_hours</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Active_projects.PName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active_projects.PName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
